.context {
    max-width: 80%;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 25;
    padding: 1% 2%;
    background: linear-gradient(67deg, #0b5d50 0%, #d50505 100%);
    display: block;
    margin: 0 auto;
    justify-content: center;
}
html, body {
    margin: 0;
    min-height: 100%;
    background: linear-gradient(135deg, rgb(48, 48, 48) 10%, rgb(15, 15, 15) 50%, rgb(48, 48, 48) 90% );
}
.img-normal{
    display: block;
    height: 666px;
    width: 1250px;
    margin-bottom: 3%;
    margin-top: 3%;
    border-radius: 2%;
    object-fit: fill;
    justify-self: center;
}
.ans{
    display: grid;
    grid-template-columns:1fr 1fr 2fr 1fr 1fr;
    max-width: 80%;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 25;
    background: linear-gradient(67deg, #0b5d50 0%, #d50505 100%);
    padding: 1% 3%;
    margin: 0 auto;
}
.ans-02{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration:none;
    background-color: rgba(0, 0, 0, 0.25);
}
.ans-01{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.25);
}
.start-button{
    display: flex;
    margin: 0 auto;
    justify-self: center;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 20;
    background: linear-gradient(67deg, #0b5d50 0%, #d50505 100%);
    padding: 1% 5%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.25);
}
.title{
    display: flex;
    -ms-flex-item-align: center;
    max-width: 80%;
    color: white;
    border-radius: 20px;
    font-size: 16px;
    font-weight: 25;
    padding: 1% 2%;
    background: linear-gradient(67deg, #0b5d50 0%, #d50505 100%);
    display: block;
    margin: 0 auto;
    margin-bottom: 1%;
}